<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Статьи</h1>
    <ul>
        {% for item in items %}
            <li>
                <b>{{ item.title }}</b> <small>{{ item.link }}</small>
                <p>{{ item.description }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>